.microBlock-embed {
    position: relative;
}

.microBlock-embed > .tool-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F1C40F;
    z-index: 10;
}

.microBlock-embed > .tool-menu > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.microBlock-embed > .tool-menu > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.microBlock-embed > .tool-menu > ul > li > a {
    padding: 6px 12px;
    color: #FFF;
    display: block;
    font-size: 14px
}

.microBlock-embed > .tool-menu > ul > li > a:hover {
    text-decoration: none;
}

.microBlock-embed > .tool-menu > ul > li.active > a,
.microBlock-embed > .tool-menu > ul > li > a:hover {
    background-color: #D4AC0D;
}

.microBlock-embed > .code-box {
    display: none;
}

.microBlock-embed > .code-box > pre {
    margin-bottom: 0;
}
